@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,900i&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  /* background-color:black; */
  overflow: hidden;
}

nav,.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  background-color: #edeef0;
  min-height: 9vh;
  padding: 0 50px;
}
.nav-links-container{
  list-style: none;
  width: 40%;
}
.nav-links-container li a
{
  text-decoration: none;
  color: black;
  font-size: 2em;
}
#logo {
  font-size: 3em;
  font-weight: 700px;
  color: tomato;
}

.burger div
{
  background-color: black;
  height: 5px;
  width: 35px;
  margin: 5px;
  border-radius: 30%;
  transition: all 0.5s ease;
}
.burger
{
  display: none;
/* overflow: hidden; */
}
@media only screen and (max-width:620px)
{
    
  .burger{
    display: block;
    cursor: pointer;
  }
  .burger div:hover {
    background-color: blue;
  }

 .nav-links-container
   {  
  position: absolute;
  right: 0;
  top: 8vh;
   height: 80vh;
   /* background-color: #edeef0; */
   background:whitesmoke;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 50%;
   font-size:2.2em;
   transform: translateX(100%) ;
     }
     
.nav-links-container li {
  opacity: 0%;
}
.nav-clicked
{
  transform: translateX(0%);
}
}
.burger-clicked #line1
   {
transform: rotate(45deg) translateX(5px);
   }
.burger-clicked #line2
  {
  display: none;
  }
.burger-clicked #line3
   {
  transform: rotate(-45deg) translateX(5px);
   }
@keyframes navLinksAnimation
{
  from{
    opacity: 0%;
  }
  to
  {
    opacity: 1;
  }
}

#home {
  margin-bottom: 10px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 450px;
}

header div p {
  font-size: 2.5em;
  font-weight: 200;
}

h1,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 5em;
  color: white;
  text-align: center;
}

h2 {
  font-size: 2vw;
  font-weight: 500;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.8em;
}

.link-button {
  text-decoration: none;
  text-align: center;
  background: orangered;
  color: white;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 1.5vw;
  padding: 10px;
  border-radius: 5%;
  border-color: black;
  cursor: pointer;
}
nav ul li  :hover{
color: orange;
}
#bio article *{
  margin: 10px;
}

#bio {
  display: flex;
  align-items: center;
}

#bio img {
  /* height: 250px; */
  /* width: 250px; */
  height: 30vh;
  /* width: 15vw; */
  border-radius: 50%;
  margin: 100px;
}
.break{
  display: block;
}
 p {
  font-size: 1.1vw;
}
hr{
  width: 400px;
}

#portfolio h3 ,p,hr{
  margin-bottom: 20px;
}
#portfolio,
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

}

#skills-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

#skills-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills ul {
  list-style: none;
  font-size: 1.5em;
}

#skills ul li {
  margin: 10px 0;
}
#portfolio{
  background:url(https://i1.faceprep.in/ProGrad/portfolio-background.svg);
  background-color: black;
  color: white;
}
#portfolio div {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

#portfolio div article {
  background: white;
  color: black;
  height: 200px;
  width: 20vw;
  /* width: 100%;*/
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  padding: 0 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: black;
 color: white;
}
 progress[value]{
   height: 10px;
   width: 20vw;
   -webkit-appearance: none;
 }
 progress[value]::-webkit-progress-bar{
   background-color: gray;
   border-radius: 2px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25 inset);
 }
 ::-webkit-progress-value{
   background-color: orangered;
 }
 #mail
 {
    margin-top: 1em;
   text-decoration: none;
   color: white;
 }
 #mail,#phonenumber
 {
  font-size: 25px;
 }
 #mail:hover
 {
   color:orangered;
   /* background: orangered; */
   /* padding: 0.3em; */
 }
 #phonenumber
 {
   margin-top: 1em;
   /* cursor: pointer; */
 }
 #social img
 {
   height: 50px;
   width: 50px;
 }
 